* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;

    
}

body {
    color: white;
    background-color: #010001;

    height: 100%;

}

a {
    text-decoration: none;
    color: inherit;

}

.menu-desktop a {
    padding: 20px;
}

.menu-desktop a:not(:last-child):hover {
    transform: scale(1.05);
    color: rgb(229, 229, 160);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #da3026;
    font-family: "Roboto", serif;
    font-weight: 600;
    z-index: 999;
    border-bottom: 2px solid black;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 80px;
    flex: 1;
}

@media (max-width: 1000px) {
    .logo {
        padding-left: 40px;
        flex: 0;
    }
}

.logo-text {
    font-family: "Chakra Petch", sans-serif;;
    margin: 0;
    line-height: 15px;
    padding: 0;
    padding-left: 5px;
    color: #330503;
    font-weight: 900;
    font-size: 18px;
}

header img {
    width: 50px;
    border-radius: 100%;

}

@media (max-width: 1000px) {
    header img {
        width: 50px;
        padding-top: 5px;
        
    }
}

.header-desktop {
    display: flex;
}

.black-link {
    background-color: black;
    border: 5px solid #da3026;
}

.black-link:hover {
    background-color: white;
    color: black;
}

.menu-desktop {
    flex: 2;
    display: flex;

    justify-content: space-evenly;
}

@media (max-width: 1000px) {
    .menu-desktop {
        display: none;
    }
}

main section {
    margin-left: 60px ;
    margin-right: 60px ;
}

@media (max-width: 1000px) {
    main section {
        margin-left: 20px ;
        margin-right: 20px ;
    }
}

main {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 1600px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

@media (min-width: 1600px) {
    main section {
        margin-bottom: 100px;
        margin-left: 0px ;
        margin-right: 0px ;
        width: 1380px;
    }
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 50px;
}

@media (max-width: 1000px) {
    h1 {
      font-size: 36px;  
    }
}

@media (min-width: 1280px) {
    h1 {
        font-size: 100px;
    }
}

.dobra1-titulo h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    border-bottom: 1px solid white;
    padding-bottom: 40px;
}


p {
    font-family: "Playfair Display", serif;
    margin-bottom: 50px;
}

button {
    background-color: #da2f26;
    padding: 10px;
    border: 0px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease;

}

@media (min-width: 1280px) {
    button {
        font-size: 16px;
        padding: 20px;
    }
}

main section {
    z-index: 5;
}

.background-img {
    position: absolute;
    z-index: 0;
    top: 100px;
    right: 0px;
    opacity: 0.2;
    width: 100%;
}

.dobra1-titulo {
    margin-top: 200px;
    font-weight: 600;
    height: 600px;
    scroll-margin-top: 200px;
    z-index: 10;
    position: relative;

}


.dobra1-img {
    width: 100%;

}

.dobra1-titulo button {
    margin-bottom: 10px;
}

.secondary-button {
    background-color: white;
    padding: 15px;
    border: 0px;
    border-radius: 8px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease;
}

@media (max-width: 1000px) {
    .dobra1-titulo {
        margin-top: 100px;
    }
}

@media (min-width: 1280px) {
    .dobra1-titulo {
        margin-bottom: 300px;
    }
}

.dobra1-titulo p {
    width: 60%;
}

@media (max-width: 1000px) {
    .dobra1-titulo p {
      width: 100%; 
      font-size: 18px;
      font-weight: 100;
    }
}




.dobra2-saiba-mais {
    display: block;
    text-align: center;
    scroll-margin-top: 100px;
}





.dobra2-wrapper {
    display: flex;
    flex-direction: column;
}

.dobra2-h3 {
    display: flex;
    justify-content: space-between;
}

.dobra2-h3-clicked {
    background-color: #da3026;
    margin: 0;
    padding: 40px 0px;
    flex: 0.33;
    border-radius: 3px;

}

.dobra2-h3-not-clicked {
    background-color: #921e1846;
    margin: 0;
    margin-top: 10px;
    padding: 40px 0px;
    flex: 0.33;
    border-radius: 3px;
    cursor: pointer;

}

.dobra2-toggleable-text {
    display: block;
}

@media (max-width: 600px) {
    .dobra2-toggleable-text {
        display: none;
    }
}

.dobra2-toggleable-text-mobile {
    display: none;
}

@media (max-width: 600px) {
    .dobra2-toggleable-text-mobile {
        display: block;
    }
}



.hidden-text {
    display: flex;
    padding: 20px;
    padding-top: 40px;
    text-align: left;
    border: 1px solid #da3026;
    height: 260px;
}

.hidden-text-mobile img {
    width: 35px;
}

.hidden-text-wrapper {
    flex: 0.33;
    text-align: center;
}

.hidden-text-wrapper-mobile {
    margin: 0;
    padding: 0;
}

.hidden-text img {
    width: 50px;
}

.dobra3-como-funciona {
    border: 1px solid #da3026;
    border-radius: 3px;
    text-align: center;
    scroll-margin-top: 100px;
}

.dobra3-como-funciona h2 {
    background-color: #da3026;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.dobra3-como-funciona img {
    width: 100px;
}

.dobra3-wrapper {
    display: block;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding: 0px;
}

@media (min-width: 1200px) {
    .dobra3-wrapper {

        padding: 20px;
    }

}

.dobra3-wrapper p {
    line-height: 30px;
}

.passo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.passo1-text {
    text-align: center;
    flex: 0.5;
    padding: 0px 100px
}

@media (max-width: 800px) {
    .passo1-text {
        padding: 0px;
    }

}

/* .mostruario-de-secoes {
    flex: 0.5;
    padding: 0px 100px
}

.navegador {
    border: 5px solid #818181;
    border-radius: 20px;
    background-color: rgba(112, 112, 112, 0.356);
    
}

.navegador p {
    margin: 0;
    background-color: #d1d1d1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    padding-left: 30px;
    color: black;
}

.navegador-wrapper h6:nth-child(1) {
    border-bottom: 1px solid rgb(4, 0, 255);
    padding: 5px 0px;
    color: white;
    font-weight: 100;
}

.navegador-wrapper h6:nth-child(2) {
    border-bottom: 1px solid rgb(255, 102, 0);
    padding: 20px 0px;
    color: white;
    font-weight: 100;
}

.navegador-wrapper h6:nth-child(3) {
    border-bottom: 1px solid rgb(0, 255, 76);
    padding: 20px 0px;
    color: white;
    font-weight: 100;
}

.navegador-wrapper h6:nth-child(4) {
    border-bottom: 1px solid rgb(255, 0, 242);
    padding: 20px 0px;
    color: white;
    font-weight: 100;
}

.navegador-wrapper h6:nth-child(5) {
    border-bottom: 1px solid rgb(217, 255, 0);
    padding: 20px 0px;
    color: white;
    font-weight: 100;
}

.navegador-wrapper h6:nth-child(6) {
    border-bottom: 1px solid rgb(255, 0, 98);
    padding: 20px 0px;
    color: white;
    font-weight: 100;
}

.navegador-wrapper h6:nth-child(7) {
    border-bottom: 1px solid rgb(140, 0, 255);
    padding: 20px 0px;
    color: white;
    font-weight: 100;
}

.navegador-wrapper h6:nth-child(8) {
    padding: 5px 0px;
    color: white;
    font-weight: 100;
} */

.passo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    position: relative;

}

.passo2-text {
    text-align: center;
}

.planos-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.planos {
	display: grid;
    justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.planos-paineis {
    background-color: #da2f2688;
    border: 2px solid #da3026;
    border-radius: 20px;
    padding: 0px 20px;
    margin: 50px 10px;
    width: 250px;
    font-weight: 600;
    height: 405px;
    /* filter: drop-shadow(5px 5px 50px red); */
}

@media (max-width: 900px) {
    .planos-paineis {
        margin-top: 10px;
    }
}



.planos-paineis h3 {
    background-color: black;
    padding: 10px 10px;
}

.planos-paineis h4 {
    font-weight: 900;
    font-size: 28px;
    border-top: 1px solid #da3026;
    padding-top: 30px;
}

.planos-paineis p {
    margin: 20px 0px;
    font-weight: 100;
    line-height: initial;
}

.gratuitos p {
    margin: 0;
    padding: 10px;
    
}

.passo3 {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

@media (max-width: 900px) {
    .passo3 {
        flex-direction: column;
    }
}

.passo3-text {
    padding: 0px 100px;
    text-align: center;
    flex: 0.5;
}

.hospedagem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex: 0.5;
    text-align: left;
    padding: 0px 100px;
}

@media (max-width: 600px) {
    .hospedagem {
        padding: 0px 10px;
    }
}

.hospedagem-paineis {
    background-color: #da2f2688;
    border: 2px solid #da3026;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.hospedagem > :last-child {
    background-color: #da3026;
    border: 2px solid white;

}

.hospedagem-paineis b {
    color: black;
    font-weight: 900;
    font-size: 1.2em;
    font-family: "Roboto", serif ;
}

.hospedagem-paineis p {
    margin: 0;
    padding: 20px;
}

.passo3-text b {
    text-decoration: underline;
    font-size: larger;
}

.passos4-e-5-wrapper {
    display: flex;
    
}

@media (max-width: 900px) {
    .passos4-e-5-wrapper {
        flex-direction: column;
        
    }
}

.passo4 {
    flex: 0.5;
    padding: 0px 50px;
}

.passo5 {
    flex: 0.5;
    padding: 0px 50px;
}

/* @media (max-width: 1300px) {
    .dobra3-wrapper {
        display: none;
    }
} */

.dobra3-wrapper-mobile {
    display: none;
    text-align: left;
    padding: 0px 20px;
}

.dobra3-wrapper-mobile div {
    height: 100%;
    padding: 20px;
}

.red {
    background-color: #272727;
    border: 1px solid black;
}

/* @media (max-width: 1300px) {
    .dobra3-wrapper-mobile {
        display: block;
    }
} */

/* .dobra3-wrapper div {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 2px solid #da3026;
    background-color: #da3026;
    border-radius: 100%;
    align-items: center;
    text-align: center;
} */

h5 {
    color: #da3026;
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}

.dobra3-como-funciona h6 {
    font-size: 20px;
    margin: 0;
    color: #da3026;
}

.navegador h6 {
    font-size: 14px;
}


.dobra4-portfolio {
    display: flex;
    flex-direction: column;
    scroll-margin-top: 100px;
}

@media (max-width:600px) {
    .dobra4-portfolio {
        display: block;
    }

}

iframe {
    border: 1px solid red;
    width: 100%;
    height: 600px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: white;
}



.dobra4-A p {
    padding-right: 10px;
}

.dobra4-A h2 {
    background-color: #da3026;
}

.dobra4-B {
    display: block;
    position: relative;
    border: none;
    text-align: center;
    
}

.dobra4-B-mobile {
    display: none;
}

@media (max-width:600px) {
    .dobra4-B {
        text-align: center;

    }

}



.dobra4-B img {
    width: 100%;
    display: none;
}

.seta-esquerda:hover {
    transform: scale(1.05)
}

.seta-direita:hover {
    transform: scale(1.05)
}

.seta-direita, .seta-esquerda {
        display: inline-block;
        position: static;
        font-size: 20px;
        background-color: #da3026;
        border-radius: 30px;
        padding: 10px;
        width: 80px;
        font-weight: 600;
        cursor: pointer;
        text-align: center;


    }

.dobra5-quem-sou-eu {
    display: flex;
    border: 1px solid #da3026;
    height: 400px;
}

@media (max-width: 850px) {
    .dobra5-quem-sou-eu {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 3px;
        padding: 20px;
        text-align: center;
        align-items: center;
        margin-bottom: 50px;
    }
}



.imagem {
    width: 40%;
    background-color: #da3026;
    background-image: url('images/me.png');
    background-size: cover;
    background-position: bottom 0px right 40px;
    background-blend-mode: multiply;
    clip-path: polygon(0% 0, 70% 00%, 0% 150%, 0 50%);
}

@media (max-width: 850px) {
    .imagem {
        clip-path: none;
        background-image: none;
        background-color: inherit;

    }

}

@media (min-width: 1280px) and (max-width: 1400px) {
    .imagem {
        background-size: cover;
        background-position: top 0px right 80px;

    }

}

@media (min-width: 1400px) and (max-width: 1600px) {
    .imagem {
        background-size: cover;
        background-position: top 0px right 100px;

    }

}

@media (min-width: 1600px) {
    .imagem {
        background-size: cover;
        background-position: top 0px right 90px;

    }

}

.foto-mobile {
    display: none;
}

@media(max-width: 850px) {
    .foto-mobile {
        display: flex;
        flex-direction: column-reverse;
        border-radius: 100%;
        width: 100%;
    };
}

.about-me {
    background-color: #da3026;
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 10% 100%);
    width: 33%;
    text-align: right;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 850px) {
    .about-me {
        display: none;
    }
}

.about-me h2 {
    margin: 0;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    padding-right: 20px;
}

@media (max-width: 850px) {
    .middle {
        width: 100%;
    }
}

@media (min-width: 1280px) and (max-width: 1600px) {
    .middle {
        padding: 0;
    }
}

.middle h4 {
    border-bottom: 1px solid;
}

@media (min-width: 1280px) and (max-width: 1600px) {
    .middle h4 {
        margin-bottom: 5px;
    }
}



.middle p {
    margin-bottom: 20px;
}

@media (max-width: 1280px) {
    .middle p {
        margin-bottom: 5px;
    }
}

footer {
    background-color: #da3026;
    border: 1px solid #da3026;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer p {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-size: 14px;
    margin: 0;
    padding: 5px;
}

@media (max-width: 500px) {
    footer p {
        font-size: 12px;
    }
}

.redes-sociais {
    display: flex;
}

@media (max-width: 850px) {
    .redes-sociais {
        display: flex;
        justify-content: center;
    }
}

.redes-sociais img {
    width: 50px;
    margin-right: 5px;
    cursor: pointer;
}

.dobra-CTA1 {
    background-color: #da2f26;
    margin: 0;
    margin-bottom: 100px;
    padding: 50px;
    text-align: center;
    position: relative;

    z-index: 5;
    background-image: url('images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg');
    background-blend-mode: multiply;
    background-position: left;
}

.dobra-CTA1 * {
    z-index: 5;
    position: relative;
}

.dobra-CTA1 button {
    background-color: black;
    z-index: 5;
}

.dobra-CTA2 {
    display: flex;
    justify-content: space-between;
    background-color: #da3026;
    margin: 0;
    margin-bottom: 100px;
    padding: 50px;
}

@media (max-width: 1075px) {
    .dobra-CTA2 {
        display: block;
        justify-content: space-between;
        background-color: red;
        background-color: rgb(218, 48, 38);
        margin: 0;
        margin-bottom: 100px;
        padding: 20px;
    }

}

@media (min-width: 1280px) {
    .dobra-CTA2 {
        justify-content: space-evenly;
        padding: 75px;
    }
}

.dobra-CTA2 div {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left:20px ;
    padding-right:20px ;
    border: 1px solid #272727;
    border-radius: 5px;
}

@media (min-width: 1280px) {
    .dibra-CTA2 div {
        width: 150px;
    }
}

.third {
    background-color: #272727;
    border-radius: 5px;

}

@media (max-width: 600px) {
    .third {
        background-color: #000000;
        border-radius: 5px;
        min-height: 210px
    
    }

}

/* ///////////////////////////// */



.hamburguer-menu-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 40px;
    z-index: 152;
    cursor: pointer;

}

@media (min-width: 1000px) {
    .hamburguer-menu-container {
        display: none;
    }
}

.hamb-lines {
  width: 30px;
  border: 1px solid black;
  margin-bottom: 5px;
  transform: translateY(0) rotate(0deg);
  transition: transform 0.5s ease;
}

.hamb-menu-panel {
	display: block;
	position: absolute;
	top: 50px;
    right: -400px;
	background-color: #da2f26d7;
	color: white;

	font-size: 20px;
	font-family: "Roboto", serif;
	transition: right 0.5s ease;
    z-index: 1;

}

.hamb-menu-panel ul {
	padding: 0;
	margin: 0;
    z-index: 100;
}

.li-wrapper {
	border-bottom: 1px solid white;
	padding: 20px;
    z-index: 100;
}

.li-wrapper li {
	list-style-type: none;
    z-index: 100;
}

